name: Docker Image CI

on:
  # push:
  #   branches: [ "master" ]
  # pull_request:
  #   branches: [ "master" ]
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Build the Docker image
      run: docker buildx build --file Dockerfile \\
        --platform linux/amd64,linux/arm64 \\
        --sbom=true \\
        --tag ytabuchi/net-client:$(date +%Y%m%d) .
      
    - name: Push the Docker image
      run: docker push ytabuchi/net-client:$(date +%Y%m%d)

    - name: Push the Docker image with latest tag
      run: docker tag ytabuchi/net-client:$(date +%Y%m%d) ytabuchi/net-client:latest && docker push ytabuchi/net-client:latest
